* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }

a:hover {
  text-decoration: underline; }

img {
  opacity: 0.75;
  transition: all 0.3s ease-in-out; }

img:hover {
  opacity: 1; }

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #eee;
  padding: 5rem 1rem; }
  section h2 {
    text-align: center;
    font-size: 4rem; }
  section p {
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem 3rem 5rem; }

section:not(.hero):nth-child(odd) {
  background: #fefefe;
  color: #1d1e2b; }

section:not(.hero):nth-child(even) {
  background: #1d1e2b;
  color: #fefefe; }

button {
  position: relative;
  top: 0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
  transition: all 0.5s ease-in-out; }
  button a {
    color: #fff; }

button:hover {
  top: -0.2rem; }
  button:hover a {
    text-decoration: none; }

header {
  background: linear-gradient(to bottom, #45484d 0%, black 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem; }
  header .brand {
    text-transform: uppercase;
    font-size: 2.5rem; }
  header a {
    color: #fff;
    opacity: 0.75;
    transition: all 0.3s ease-out; }
  header a:hover {
    color: #00b5f0;
    opacity: 1;
    text-decoration: none; }
  header nav ul {
    display: flex;
    list-style: none; }
    header nav ul li {
      align-self: center;
      border: 0.0625rem solid #333;
      border-top: none;
      border-bottom: none;
      transition: all 0.3s ease-in-out; }
      header nav ul li a {
        font-size: 1.33rem;
        padding: 2rem;
        display: block; }
    header nav ul li:hover {
      background: linear-gradient(to bottom, #272a2f 0%, black 100%);
      border: 0.0625rem solid #00b5f0;
      border-top: none;
      border-bottom: none; }
  header nav i {
    color: #00b5f0;
    opacity: 1; }

.hero {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff; }

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center center cover;
  z-index: -1;
  opacity: 1; }

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero-content h2, .hero-content h5 {
    text-shadow: 0 0.125rem 0.125rem #333; }
  .hero-content h2 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .hero-content h5 {
    font-size: 2rem;
    margin-bottom: 2.5rem; }
  .hero-content button {
    padding: 1.25rem 2.875rem;
    -webkit-box-shadow: 3px 3px 4px #636363;
    -moz-box-shadow: 3px 3px 4px #636363;
    box-shadow: 0 0 0.5rem #636363;
    transition: all 0.3s ease-in-out; }
  .hero-content button:hover {
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 4px #303030;
    -moz-box-shadow: 3px 3px 4px #303030;
    box-shadow: 0 0.5rem 1rem #303030; }

.features, .info-boxes {
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; }

.features .card {
  color: #1d1e2b; }

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #666;
  font-size: 1rem;
  margin: 0 1rem; }
  .card h3 {
    color: #1d1e2b;
    font-size: 1.33rem;
    padding: 0 0 1rem; }
  .card img {
    width: 100%;
    padding: 1rem;
    border-radius: 30%;
    transition: all 0.8s ease-out; }
  .card img:hover {
    transform: scale(1.2); }

#info .card {
  color: #fff; }
  #info .card h3 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem; }
  #info .card .fa {
    font-size: 10rem;
    transition: all 0.3s ease-out; }
  #info .card .fa:hover {
    color: #00b5f0;
    transform: scale(1.2); }
  #info .card .fa-mobile {
    font-size: 15rem;
    margin-top: -2.2rem; }
  #info .card .fa-forward {
    margin-left: 2rem; }

.product {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .product img {
    margin: 1rem 2rem;
    border-radius: 5rem; }
  .product .product-text {
    display: flex;
    flex-direction: column; }
    .product .product-text h3 {
      color: #1d1e2b;
      font-size: 2rem;
      text-align: center; }
    .product .product-text p {
      text-align: left; }

.product:nth-of-type(2) {
  margin-top: 10rem; }

.team-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .team-boxes h3 {
    color: #fff;
    padding: 2rem 0; }
  .team-boxes img {
    max-width: 100%;
    padding: 1rem 5rem;
    border-radius: 50%; }

#contact form input {
  padding: 1rem;
  margin-right: 2rem;
  font-size: 1.125rem;
  border-radius: 1rem;
  color: #555;
  flex: 1; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1d1e2b;
  color: #fff;
  padding: 1.25rem 0; }
  footer a {
    color: #fff; }
  footer p {
    text-transform: uppercase;
    font-size: 0.875rem;
    align-self: center;
    padding: 1rem; }
  footer p a {
    color: #00b5f0; }
  footer ul {
    display: flex;
    padding: 1rem;
    list-style: none; }
  footer ul li {
    margin-left: 1rem; }
    footer ul li i.fa {
      transition: all 0.8s ease-out; }
    footer ul li i.fa:hover {
      color: #00b5f0;
      transform: rotate(30deg); }

@media (max-width: 60rem) {
  header {
    justify-content: center; }
    header h1 {
      display: none; } }

@media (max-width: 45rem) {
  section p {
    padding: 1rem 2rem 5rem; }
  #contact form {
    display: flex;
    flex-direction: column; }
  #contact form input {
    margin-right: 0; }
  .features, .info-boxes, .team-boxes {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .card {
    margin-bottom: 2rem; }
  .fa-mobile {
    margin-top: 0; }
  .product {
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    max-width: 80vw;
    margin: 0 2rem; }
  .product-text {
    margin: 0; }
  .product-1 .product-text {
    order: 0; }
  .product-1 img {
    order: 1;
    margin: 1rem; } }

.sr-only {
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  padding: 0;
  margin: -0.625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.menu-toggle {
  display: inline-block;
  padding: 2rem 0;
  line-height: 1rem;
  font-size: 1.33rem;
  color: #fff;
  transition: all 0.3s ease-out; }

.menu-toggle:hover,
.menu-toggle:focus {
  color: #00b5f0; }

.main-menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999; }

.main-menu ul {
  list-style: none;
  margin: 0;
  /* Hide shadow w/ -0.5rem while 'closed' */
  -webkit-box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43, 0.85);
  -moz-box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43, 0.85);
  box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43, 0.85);
  min-height: 100%;
  width: 12.5rem;
  background: #1d1e2b; }
  .main-menu ul li {
    border: 0.0625rem solid #333;
    border-top: none;
    border-bottom: none;
    transition: all 0.3s ease-in-out; }
  .main-menu ul li:hover {
    border: 0.0625rem solid #00b5f0;
    border-top: none;
    border-bottom: none; }

a#main-menu-toggle {
  margin-left: 90%; }

.main-menu .menu-close {
  position: absolute;
  font-size: 2rem;
  top: 1.5rem;
  right: 30%;
  background: #1d1e2b; }

.main-menu .menu-close a {
  padding: 0; }

.main-menu:target,
.main-menu[aria-expanded="true"] {
  right: 0;
  outline: none;
  -moz-box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43, 0.85);
  -webkit-box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43, 0.85);
  box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43, 0.85); }

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001; }

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000; }

@media (min-width: 45rem) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none; }
  .main-menu {
    position: relative;
    right: auto;
    top: auto;
    height: auto; }
  .main-menu ul {
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none; }
  .main-menu a {
    color: #fff;
    border: 0 !important;
    transition: all 0.3s ease-out; }
  .main-menu a:hover,
  .main-menu a:focus {
    background: none;
    color: #00b5f0; } }

@media (max-width: 45rem) {
  .main-menu {
    right: -12.5rem; }
  .main-menu ul {
    flex-direction: column;
    top: 6.5rem; }
    .main-menu ul li {
      width: 100%; } }
