// Variables

$secondary-color: #1d1e2b;
$primary-color: #00b5f0;
$tert-color: #006C90;
$font-sans: 'Source Sans Pro', sans-serif;
$font-serif: 'Source Serif Pro', serif;
$header-bg: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); 

//Global

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: $secondary-color;
    font-family: $font-sans;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    opacity: 0.75;
}

img:hover {
    opacity: 1;
}

section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #eee;
    padding: 5rem 1rem;
    
    h2 {
        text-align: center;
        font-size: 4rem;
    }
    
    p {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem 3rem 5rem;  
    }
}

section:not(.hero):nth-child(odd) {
    background: #fefefe;
    color: $secondary-color;
}



// Classes

.brand {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-left: 3rem;
    
    a {
        display: flex;
    }
}

.hero {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center center;
    background-size: cover;
    z-index: -1;
    background-color: #1d1e2b;
}

.hero-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    h2, h5 {
        text-shadow: 0 0.1rem 0.1rem #000;
    }
    
    h2 {
        font-size: 4rem;
        text-transform: uppercase;
        margin-bottom: 1rem
    }
    
    h5 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
    .btn {
        padding: 1.25rem 2.875rem;
    }
}


.btn {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #6499be;
    opacity: 1;
    -webkit-box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.75);
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.75);
}

.btn:hover {
    opacity: 0.75;
    text-decoration: none;
}

// Header Section

header {
    background: $header-bg;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.33rem 2rem;
    color: #fff;
    
    a {
    opacity: 0.75;
    color: #fff;
    }

    a:hover {
        opacity: 1;
        text-decoration: none;
    }
    
    ul {
        display: flex;
        list-style: none;
        margin-right: 3rem;
    }

    li {
        font-size: 1.33rem;
        margin: 0 1rem;
    }
}

// About Section

.features, .info-boxes {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.features .card {
    color: $secondary-color;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #666;
    font-size: 1rem;
    margin: 0 1rem;
    
    h3 {
        color: $secondary-color;
        font-size: 1.33rem;
        padding: 0 0 1rem;
    }
    
    img {
        width: 100%;
        padding: 1rem;
        border-radius: 30%;
    }
}

// Info Section

#info {
    
    .card {
        color: #fff;
        
         h3 {
            color: #fff;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    
        .fa {
            font-size: 10rem;
        }
        
        .fa-mobile {
            font-size: 15rem;
            margin-top: -2.2rem;
        }
        
        .fa-forward {
            margin-left: 2rem;
        }

    }
    
}

// Product Section

.product {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    img {
        margin: 1rem;
        border-radius: 5rem;
    }
    
    .product-text {
        display: flex;
        flex-direction: column;
        
        h3 {
            color: $secondary-color;
            font-size: 2rem;
            text-align: center;
        }
        
        p {
            text-align: left;
        }
    }
   
}

.product:nth-of-type(2) {
       margin-top: 10rem;
   }
   
//  Team Section

.team-boxes {
    display: flex;
    justify-content: space-around;
    
    h3 {
        color: #fff;
        padding: 2rem 0;
    }
    
    img {
        max-width: 100%;
        padding: 1rem 5rem;
        border-radius: 50%;
    }
}

// Contact

#contact form input {
    padding: 1rem;
    margin-right: 2rem;
    font-size: 1.125rem;
    border-radius: 1rem;
    color: #555;
    flex: 1;
}

//Footer

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary-color;
    color: #fff;
    padding: 1.25rem 0;
    
    a {
        color: #fff;
    }
    
    p {
        text-transform: uppercase;
        font-size: 0.875rem;
        align-self: center;
        padding: 1rem;
    }
    
    p a {
        color: $primary-color;
    }
    
    ul {
        display: flex;
        padding: 1rem;
        list-style: none;
    }
    
    ul li {
        margin-left: 1rem;
    }
    
    i.fa:hover {
        color: $primary-color;
    }

}

// Media Queries

@media (max-width: 60rem) {
    .features, .info-boxes, .team-boxes {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .card {
        margin-bottom: 2rem;
    }
    
    .fa-mobile {
        margin-top: 0;
    }
    
    .product {
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }
    
    .product-text {
        margin: 0;
    }
    
    .product-1 .product-text {
        order: 0;
    }
    
    .product-1 img {
        order: 1;
        margin: 1rem;
    }
    
    .product-1 {
    
        .product-text {
            margin-right: 0;
        }
        
        img {
            margin-left: 0;
        }
        
    }

    .product-2 {
        
        .product-text {
            margin-left: 0;
        }
        
        img {
            margin-right: 0;
        }
        
    }
    
    .product {
        max-width: 80vw;
        margin: 0 2rem;
    }
}

@media (max-width: 50rem) {
    
    header {
        padding: 1rem 1rem;
        justify-content: center;
    }
    
    header h1 {
        display: none;
    }
    
    header ul {
        
    }
    
    #contact form {
        display: flex;
        flex-direction: column;
    }
    
    #contact form input {
        margin-right: 0;
    }
    
    section {
        
        p {
            padding: 1rem 2rem 5rem;
        }
    }
    
}



