// Variables

$primary-color: #00b5f0;
$secondary-color: #1d1e2b;
$tert-color: #006C90;
$font-sans: 'Source Sans Pro', sans-serif;
$font-serif: 'Source Serif Pro', serif;
$header-bg: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);

//Global

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $secondary-color;
    font-family: $font-sans;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-out;
}

a:hover {
    text-decoration: underline;
}

img {
    opacity: 0.75;
    transition: all 0.3s ease-out;
}

img:hover {
    opacity: 1;
}

section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #eee;
    padding: 5rem 1rem;
    
    h2 {
        text-align: center;
        font-size: 4rem;
    }
    
    p {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem 3rem 5rem;  
    }
}

section:not(.hero):nth-child(odd) {
    background: #fefefe;
    color: $secondary-color;
}

// Classes

.brand {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-left: 3rem;
}

.hero {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center center;
    background-size: cover;
    z-index: -1;
    background-color: #1d1e2b;
    opacity: 1;
}

.hero-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    h2, h5 {
        text-shadow: 0 0.1rem 0.1rem #000;
    }
    
    h2 {
        font-size: 4rem;
        text-transform: uppercase;
        margin-bottom: 1rem
    }
    
    h5 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
    .btn {
        padding: 1.25rem 2.875rem;
    }
}


.btn {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #6499be;
    opacity: 1;
    -webkit-box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.75);
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.75);
    transition: all 0.3s ease-out;
}

.btn:hover {
    opacity: 0.75;
    text-decoration: none;
}

// Header Section

header {
    background: $header-bg;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    color: #fff;
    
    a {
        opacity: 0.75;
        color: #fff;
        transition: all 0.3s ease-out;
    }

    a:hover {
        opacity: 1;
        text-decoration: none;
    }
    
    nav {
        
        ul {
            display: flex;
            list-style: none;
            margin-right: 3rem;
            }
    
        li {
            align-self: center;
            font-size: 1.33rem;
            padding: 1rem 1rem;
            border: 0.0625rem solid #333;
            transition: all 0.3s ease-out;
        }
        
        li:hover {
            background: black;
        }
        
        i {
            color: $primary-color;
            opacity: 1;
        }
        
        
    }
    
    
}

// About Section

.features, .info-boxes {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.features .card {
    color: $secondary-color;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #666;
    font-size: 1rem;
    margin: 0 1rem;
    
    h3 {
        color: $secondary-color;
        font-size: 1.33rem;
        padding: 0 0 1rem;
    }
    
    img {
        width: 100%;
        padding: 1rem;
        border-radius: 30%;
    }
}

// Info Section

#info {
    
    .card {
        color: #fff;
        
         h3 {
            color: #fff;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    
        .fa {
            font-size: 10rem;
            transition: all 0.3s ease-out;
        }
        
        .fa:hover {
            color: $primary-color;
        }
        
        .fa-mobile {
            font-size: 15rem;
            margin-top: -2.2rem;
        }
        
        .fa-forward {
            margin-left: 2rem;
        }

    }
    
}

// Product Section

.product {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    img {
        margin: 1rem;
        border-radius: 5rem;
    }
    
    .product-text {
        display: flex;
        flex-direction: column;
        
        h3 {
            color: $secondary-color;
            font-size: 2rem;
            text-align: center;
        }
        
        p {
            text-align: left;
        }
    }
   
}

.product:nth-of-type(2) {
       margin-top: 10rem;
   }
   
//  Team Section

.team-boxes {
    display: flex;
    justify-content: space-around;
    
    h3 {
        color: #fff;
        padding: 2rem 0;
    }
    
    img {
        max-width: 100%;
        padding: 1rem 5rem;
        border-radius: 50%;
    }
}

// Contact

#contact form input {
    padding: 1rem;
    margin-right: 2rem;
    font-size: 1.125rem;
    border-radius: 1rem;
    color: #555;
    flex: 1;
}

//Footer

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary-color;
    color: #fff;
    padding: 1.25rem 0.5rem;
    
    a {
        color: #fff;
    }
    
    p {
        text-transform: uppercase;
        font-size: 0.875rem;
        align-self: center;
        padding: 1rem;
    }
    
    p a {
        color: $primary-color;
    }
    
    ul {
        display: flex;
        padding: 1rem;
        list-style: none;
    }
    
    ul li {
        margin-left: 1rem;
        transition: all 0.3s ease-out;
    }
    
    i.fa:hover {
        color: $primary-color;
    }

}

// Mobile Menu

    // Screen reader only
    
    .sr-only {
        position: absolute;
        width: 0.625rem;
        height: 0.625rem;
        padding: 0;
        margin: -0.625rem;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    // Button styling
    
    .menu-toggle {
        display: inline-block;
        padding: .75rem 1rem;
        line-height: 1rem;
        font-size: 1rem;
        color: #fff;
        transition: all 0.3s ease-out;
    }
    
    .menu-toggle:hover,
    .menu-toggle:focus {
        color: $primary-color;
    }

    // Default styles + Mobile first
    // Offscreen menu style
    
    .main-menu {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
        box-shadow 0.3s ease;
        z-index: 999;
    }
    
    .main-menu ul {
        list-style: none;
        margin: 0;
        padding: 2.5rem 0 0;
        /* Hide shadow w/ -0.5rem while 'closed' */
        -webkit-box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43,.85);
        -moz-box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43,.85);
        box-shadow: -0.5rem 0 0.5rem rgba(29, 30, 43,.85);
        min-height: 100%;
        width: 12.5rem;
        background: $secondary-color;
    }
    
    .main-menu a {
        display: block;
        padding: .75rem 1rem;
        line-height: 1rem;
        color: #eee;
        text-decoration: none;
        transition: all 0.3s ease-out;
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
        background: #000;
        color: $primary-color;
    }
    
    a#main-menu-toggle {
        margin-left: 90%;
    }
    
    .main-menu .menu-close {
        position: absolute;
        right: 1.5rem;
        top: 0.5rem;
        background: $secondary-color;
    }

    
    // On small devices, allow it to toggle
    
    // :target for non-JavaScript aria-expanded="true/false" will be fiorJavaScript
    
    .main-menu:target,
    .main-menu[aria-expanded="true"] {
      right: 0;
      outline: none;
      -moz-box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43,.85);
      -webkit-box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43,.85);
      box-shadow: 0.1875rem 0 0.75rem rgba(29, 30, 43,.85);
    }

    .main-menu:target .menu-close,
    .main-menu[aria-expanded="true"] .menu-close {
      z-index: 1001;
    }

    .main-menu:target ul,
    .main-menu[aria-expanded="true"] ul {
      position: relative;
      z-index: 1000;
    }

    // We could use `.main-menu:target:after`, but it wouldn't be clickable
    
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
      position: absolute;
      display: block;  
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 998;
      background: $secondary-color;
      background: rgba(29, 30, 43,.85);
      cursor: default;
    }

    @supports (position: fixed) {
        .main-menu,
        .main-menu:target + .backdrop,
        .main-menu[aria-expanded="true"] + .backdrop {
            position: fixed;
      }
    }

    // Larger screen styling
    // Horizontal menu

    @media (min-width: 50rem) {
        .menu-toggle,
        .main-menu .menu-close {
          display: none;
        }
  
        // Undo positioning of off-canvas menu
      
        .main-menu {
            position: relative;
            right: auto;
            top: auto;
            height: auto;
        }
      
        .main-menu ul {
    
            // Undo off-canvas styling
            
            padding: 0;
            -webkit-box-shadow: none;
               -moz-box-shadow: none;
                    box-shadow: none;
            height: auto;
            width: auto;
            background: none;
        }
  
        .main-menu a {
            color: #fff;
            border: 0 !important; // Remove borders from off-canvas styling
            transition: all 0.3s ease-out;
        }
  
        .main-menu a:hover,
        .main-menu a:focus {
            background: none; // Remove background from off-canvas styling
            color: $primary-color;
          }
          
    }
    
    @media (max-width: 50rem) {
            
        .main-menu {
            right: -12.5rem;
        }    
    
        .main-menu ul {
            flex-direction: column;
            top: 4.5rem;
            
            li {
                border: none;
                width: 100%;
            }
        }
                
    }

// Media Queries

@media (max-width: 60rem) {
    .features, .info-boxes, .team-boxes {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .card {
        margin-bottom: 2rem;
    }
    
    .fa-mobile {
        margin-top: 0;
    }
    
    .product {
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }
    
    .product-text {
        margin: 0;
    }
    
    .product-1 .product-text {
        order: 0;
    }
    
    .product-1 img {
        order: 1;
        margin: 1rem;
    }
    
    .product-1 {
    
        .product-text {
            margin-right: 0;
        }
        
        img {
            margin-left: 0;
        }
        
    }

    .product-2 {
        
        .product-text {
            margin-left: 0;
        }
        
        img {
            margin-right: 0;
        }
        
    }
    
    .product {
        max-width: 80vw;
        margin: 0 2rem;
    }
}

@media (max-width: 50rem) {
    
    header {
        padding: 1rem 1rem;
        justify-content: center;
        
        h1 {
        display: none;
        }
    }
    
    #contact form {
        display: flex;
        flex-direction: column;
    }
    
    #contact form input {
        margin-right: 0;
    }
    
    section {
        
        p {
            padding: 1rem 2rem 5rem;
        }
    }
    
}
    



