// Variables

$bg-color: #1d1e2b;
$primary-color: #00b5f0;
$secondary-color: #006C90;
$font-sans: 'Source Sans Pro', sans-serif;
$font-serif: 'Source Serif Pro', serif;

//Global

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    background: $bg-color;
    font-family: $font-sans;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #eee;
    padding: 5rem 0;
    
    h2 {
        font-size: 4rem;
    }
    
    p {
      font-size: 1.6rem;
      padding: 2rem 2rem 5rem;  
    }
}

section:not(.hero):nth-child(odd) {
    background: #fff;
    color: $primary-color;
}

p {
    text-align: center;
}

// Classes

.brand {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-left: 3rem;
    
    a {
        display: flex;
    }
}

.hero {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center center;
    background-size: cover;
    z-index: -1;
    background-color: #1d1e2b;
}

.hero-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    h2, h5 {
        text-shadow: 0 0.1rem 0.1rem #000;
    }
    
    h2 {
        font-size: 4rem;
        text-transform: uppercase;
        margin-bottom: 1rem
    }
    
    h5 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
    .btn {
        padding: 1.25rem 2.875rem;
    }
}


.btn {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #6499be;
    opacity: 1;
    -webkit-box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.75);
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.75);
}

.btn:hover {
    opacity: 0.75;
}

// Header Section

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.33rem 2rem;
    color: #fff;
    
    a {
    opacity: 0.75;
    color: #fff;
    }

    a:hover {
        opacity: 1;
    }
    
    ul {
        display: flex;
        list-style: none;
        margin-right: 3rem;
    }

    li {
        font-size: 1.33rem;
        margin: 0 1rem;
    }
}

// About Section


.features, .info-boxes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #666;
    font-size: 1rem;
    margin: 0 1rem;
    
    h3 {
        font-size: 1.33rem;
        padding: 0 0 1rem;
    }
    
    img {
        max-width:75%;
        padding: 1rem;
        border-radius: 10%;
    }
}

// Info Section

#info {
    
    .info-boxes {
        width: 100vw;
    }
    
    .card {
        color: #fff;
        
         h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    
        .fa {
            font-size: 10rem;
        }
        
        .fa-mobile {
            font-size: 15rem;
            margin-top: -2.2rem;
        }

        
    }
    
}


// Product Section

.product {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    img {
        border-radius: 5%;
    }
    
    .product-text {
        display: flex;
        flex-direction: column;
        
        h3 {
            color: $secondary-color;
            font-size: 2rem;
            text-align: center;
        }
        
        p {
            text-align: left;
        }
    }
   
}

.product:nth-of-type(2) {
       margin-top: 10rem;
   }
   
//  Team Section

.team-boxes {
    display: flex;
    justify-content: space-around;
    
    h3 {
        padding: 2rem 0;
    }
    
    img {
        max-width: 100%;
        padding: 1rem 5rem;
        border-radius: 50%;
    }
}

// Contact

#contact form input {
    padding: 1rem;
    margin-right: 2rem;
    font-size: 1.125rem;
    color: #555;
    flex: 1;
}


//Footer

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $secondary-color;
    color: #fff;
    padding: 1.25rem 0;

}

footer ul {
    list-style: none;
    display: flex;
    
}

footer ul li {
    margin-left: 1rem;
}

footer p {
    text-transform: uppercase;
    font-size: 0.875rem;
    align-self: center;
}

// Media Queries

@media (max-width: 60rem) {
    .features, .info-boxes, .team-boxes {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .card {
        margin-bottom: 2rem;
    }
    
    .fa-mobile {
        margin-top: 0;
    }
    
    .product {
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
    }
    
    .product-text {
        margin: 0;
    }
    
    .product-1 .product-text {
        order: 0;
    }
    
    .product-1 img {
        order: 1;
        margin: 1rem;
    }
    
    .product-1 {
    
        .product-text {
            margin-right: 0;
        }
        
        img {
            margin-left: 0;
        }
        
    }

    .product-2 {
        
        .product-text {
            margin-left: 0;
        }
        
        img {
            margin-right: 0;
        }
        
    }
    
    .product {
        max-width: 80vw;
        margin: 0 2rem;
    }
}

@media (max-width: 50rem) {
    header {
        padding: 1rem 1rem;
        ul {
            flex-direction: column;
        }
    }
    
    #contact form {
        display: flex;
        flex-direction: column;
    }
    
    #contact form input {
        margin-right: 0;
    }
    
}



